---
// src/pages/articulos.astro

import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
// Importa la función `getCollection` de astro:content
import { getCollection } from "astro:content";

const pageTitle = "Artículos";

// Obtiene todos los artículos de la colección 'blog'
const allPosts = await getCollection("blog");

// Opcional: Ordena los posts por fecha, del más reciente al más antiguo
allPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const latestTwoPosts = allPosts.filter((post) => post.data.image).slice(0, 4);
const filteredPosts = allPosts.filter((post) => post.data.image);
---

<Layout pageTitle={pageTitle}>
  <section
    class="grid grid-cols-1 gap-10 justify-center items-center m-4 lg:mt-10 lg:m-20"
  >
    {
      filteredPosts.map((post, index) => (
        <Card
          url={`/blog/${post.slug}`}
          title={post.data.title}
          description={post.data.description}
          image={post.data.image!}
          index={index}
        />
      ))
    }
  </section>
</Layout>
