---
// src/components/Card.astro
// Importamos la imagen si el campo es de tipo 'image'
// Para usar la imagen como una propiedad, necesitas especificar el tipo de dato
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export interface Props {
  url: string;
  title: string;
  description: string;
  // La imagen ahora es opcional
  image: ImageMetadata;
  author?: string;
  index: number;
}

const { url, title, description, image, author, index } = Astro.props;
const paragraphs = description.split("\n");

const isEven = index % 2 === 0;

const imageOrderClass = isEven ? "order-1" : "order-2";
const textOrderClass = isEven ? "order-2" : "order-1";
---

<a href={url} class="block rounded-lg">
  <article class="flex flex-col sm:flex-row items-stretch">
    <div class={`p-1 sm:p-4 sm:w-1/2 flex flex-col  ${textOrderClass}`}>
      <h2
        class="text-2xl text-center sm:text-left sm:text-3xl font-bold text-gray-800 mb-2"
      >
        {title}
      </h2>
      {
        paragraphs.map((paragraph) => (
          <p class="mb-4 text-[18px] lg:text-lg text-justify leading-7">
            {paragraph}
          </p>
        ))
      }
    </div>

    <div class={`sm:w-1/2 flex-shrink-0 ${imageOrderClass}`}>
      <Image
        src={image}
        alt={`Imagen para ${title}`}
        class="w-full h-48 sm:h-full object-cover"
      />
    </div>
  </article>
</a>
